{% extends 'layout.html' %}

{% block main %}
<nav class="breadcrumb">
    <div class="pt-4 px-4">
        <div class="md:max-w-3xl mx-auto">
            <ul>
                <li><a href="{{ url_for('views.home' )}}">Home</a></li>
                <li>Game List</li>
            </ul>
        </div>
    </div>
</nav>
<section>
    <div class="section-container">
        <div class="section-wrapper">
            <h2 class="text-center mb-2">Game List</h2>
            <div class="rounded-border mt-2">
                <table id="game-list">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="py-2 px-4 text-left">Game</th>
                            <th class="p-2 text-center">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todo_item in todo %}
                        <tr>
                            <td class="status {{ todo_item.state.value }}"></td>
                            <td><a href="{{ url_for('views.game', appid= todo_item.game_id) }}" class="text-black hover:text-black">{{ todo_item.game }}</a></td>
                            <td>
                                <form class="list-form text-center" action="{{ url_for('views.gamelist') }}" method="post">
                                    <select name="state" class="p-1 rounded-md">
                                        {% for state in states %}
                                        {% if state == todo_item.state.value %}
                                            <option selected value="{{ todo_item.state.value }}">{{ todo_item.state.value }}</option>
                                        {% else %}
                                            <option value="{{ state }}">{{ state }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                    <input type="hidden" name="id" value="{{ todo_item.id }}">
                                    <input type="submit" value="Submit" class="list-edit">
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}