{% extends 'layout.html' %}

{% block main %}
<section>
    <div class="section-container">
        <h2 class="text-center mb-2">Game List</h2>
        <div class="section-wrapper rounded-border mt-2">
            <table id="game-list">
                <thead>
                    <tr>
                        <th></th>
                        <th class="py-2 px-4 text-left">Game</th>
                        <th class="p-2 text-center">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo_item in todo %}
                    <tr>
                        <td class="status {{ todo_item.state.value }}"></td>
                        <td>{{ todo_item.game }}</td>
                        <td>
                            <form class="list-form text-center" action="{{ url_for('views.gamelist') }}" method="post">
                                <select name="state" class="p-1 rounded-md">
                                    {% for state in states %}
                                    {% if state == todo_item.state.value %}
                                        <option selected value="{{ todo_item.state.value }}">{{ todo_item.state.value }}</option>
                                    {% else %}
                                        <option value="{{ state }}">{{ state }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="id" value="{{ todo_item.id }}">
                                <input type="submit" value="Submit" class="list-edit">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}