{% extends 'layout.html' %}

{% block main %}
<nav class="breadcrumb">
    <div class="pt-4 px-4">
        <div class="md:max-w-3xl mx-auto">
            <ul>
                <li><a href="{{ url_for('views.home' )}}">Home</a></li>
                <li><a href="{{ url_for('views.gamelist' )}}">Game List</a></li>
                <li>{{ game.name }}</li>
            </ul>
        </div>
    </div>
</nav>
<section>
    <div class="section-container">
        <div class="section-wrapper">
            <h1>{{ game.name }}</h1>
            <div class="user-stats">
                <p>Hours played: <strong>{{ '%.1f'|format(playtime) }}</strong></p>
                <p>State: <strong>{{ state }}</strong></p>
            </div>
            <img src="{{ game.header_image }}" alt="{{ game.name }} header image">
            <div class="mt-4">{{ game.short_description|safe }}</div>
            <div class="mt-4">
                <p>Developer: {{ game.developers|join(', ') }}</p>
                <p>Publisher: {{ game.publishers|join(', ') }}</p>
                <p>Store Page: <a href="https://store.steampowered.com/app/{{ game.steam_appid}}" target="_blank" rel="external">https://store.steampowered.com/app/{{ game.steam_appid }}</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}