{% extends 'layout.html' %}

{% block main %}
<section>
    <div class="section-container">
        <div class="section-wrapper border-b">
            <div class="home-content">
                <h1>Hello, {{ name }}!</h1>
                <span class="mt-2">
                    You are currently playing <strong>{{ todo_dict.playing|length }}</strong> games.
                    You have finished <strong>{{ todo_dict.finished|length }}</strong>, put <strong>{{ todo_dict.on_hold|length }}</strong> on hold,
                    dropped <strong>{{ todo_dict.dropped|length }}</strong>, and have yet to play <strong>{{ todo_dict.to_play|length }}</strong>,
                    for a total of <strong>{{ todo|length }}</strong> games. Check your progress below!
                </span>
                <a href="{{ url_for('views.gamelist') }}" class="btn block mt-4">Game List</a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="section-container">
        <div class="section-wrapper border-b">
            <div class="home-content">
                <h2>Hours On Record</h2>
                <span class="mt-2">
                    You have spent a total of <strong>{{ '%.1f'|format(total_playtime/60) }} hours</strong> on this account.
                    Your most played games are <strong>{{ top_games[0].name }}</strong>, <strong>{{ top_games[1].name }}</strong>,
                    and <strong>{{ top_games[2].name }}</strong>. Check your play time below!
                </span>
                <a href="{{ url_for('views.playtime') }}" class="btn block mt-4">Play Time</a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="section-container">
        <div class="section-wrapper">
            <div class="home-content">
                <h2>Recently Played Games</h2>
                <span class="mt-2">You've spent this much time on these games recently:</span>
                <ul class="mt-2">
                    {% for game in recent_games %}
                    <li><strong>{{ game.name }}</strong>: {{ '%.1f'|format(game.playtime_2weeks/60) }} hours</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}