{% extends 'layout.html' %}

{% block heading %}
    <h1>Steam Library Progress</h1>
{% endblock %}

{% block main %}

{% if steamid %}
    <img src="{{ avatar }}" alt="Player's avatar">
    <h2>{{ name }}'s Progress</h2>
    <ul>
        {% for game in games %}
            <li>{{ game['name'] }}: {{ '%.1f'|format(game['playtime_forever']/60) }} hours</li>
        {% endfor %}
    </ul>
    <div>Total: {{ '%.1f'|format(total_playtime/60) }} hours</div>
    
    <form action="/" method="get">
        <button type="submit">Back</button>
    </form>
{% else %}
    <form action="/" method="post">
        <input type="text" name="steamid" id="steamid" required autofocus autocomplete="off" placeholder="Steam ID">
        <button type="submit">Submit</button>
    </form>
{% endif %}

{% endblock %}