<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steam Library Progress</title>
    <meta name="description" content="Helps track one's Steam library progress">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-items">
            <div class="header-brand">
                <img src="{{ url_for('static', filename='assets/steam-logo-white.png') }}" alt="Steam Logo" class="icon">
                <span class="text-lg font-semibold">Steam Library Progress</span>
            </div>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('auth.logout') }}" class="header-auth">
                    <div class="flex items-center gap-1 group">
                        <img src="{{ avatar }}" class="icon inline group-hover:opacity-50" alt="Player's avatar">
                        <span>Log Out</span>
                    </div>
                </a>
            {% else %}
                <a href="{{ url_for('auth.login') }}" class="header-auth">Log In</a>
            {% endif %}
        </div>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <main>
        {% block main %}
        {% endblock %}
    </main>

    <footer>
        <div class="footer-items">
            <div class="footer-attribution">
                <p>Steam Library Progress is a hobby project and is not affiliated in any way with Valve or Steam.</p>
                <p>Steam and the Steam logo are trademarks and/or registered trademarks of Valve Corporation in the U.S. and/or other countries.</p>
            </div>
            <a href="https://github.com/monkonius" target="_blank" rel="author">
                <img src="{{ url_for('static', filename='assets/github-mark-white.png' )}}" alt="GitHub Logo" class="icon hover:opacity-50">
            </a>
        </div>
    </footer>
</body>
</html>