<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steam Library Progress</title>
    <meta name="description" content="Helps track one's Steam library progress">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="flex items-center gap-2">
            <img src="{{ url_for('static', filename='steam-logo-white.png') }}" alt="Steam Logo" class="h-6 w-6">
            <span class="text-lg font-semibold">Steam Library Progress</span>
        </div>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('auth.logout') }}" class="text-white text-lg font-semibold">Log Out</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}" class="text-white text-lg font-semibold">Log In</a>
        {% endif %}
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <main>
        {% block main %}
        {% endblock %}
    </main>

    <footer>
        <div>
            <p>Steam Library Progress is a hobby project and is not affiliated in any way with Valve or Steam.</p>
            <p>Steam and the Steam logo are trademarks and/or registered trademarks of Valve Corporation in the U.S. and/or other countries.</p>
        </div>
        <div>
            <a href="https://github.com/monkonius" target="_blank" rel="author">
                <img src="{{ url_for('static', filename='github-mark-white.png' )}}" alt="GitHub Logo" class="h-6 w-6 hover:opacity-50">
            </a>
        </div>
    </footer>
</body>
</html>