{% extends 'layout.html' %}

{% block heading %}
    <h1>Login</h1>
{% endblock %}

{% block main %}

<form action="{{ url_for('auth.login') }}" method="post">
    <div>
        <label for="steamid">Steam ID</label>
        <input type="text" name="steamid" id="steamid" placeholder="e.g. 76561197960435530 (Robin Walker's ID)">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <button type="submit">Login</button>
    </div>
</form>

<a href="{{ url_for('auth.register') }}">Create account</a>
{% endblock %}