{% extends 'layout.html' %}

{% block main %}
<section>
    <div class="auth-container">
        <div class="section-wrapper">
            <div class="auth-content border border-slate-700 shadow">
                <h2 class="text-center">Log In</h2>
                <form action="{{ url_for('auth.login') }}" method="post">
                    <div class="flex flex-col">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" class="text-input" required>
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" class="text-input" required>
                        <div class="text-right mt-2">
                            <a href="{{ url_for('auth.register') }}">Create account</a>
                        </div>
                        <div class="text-center mt-6">
                            <button type="submit" class="btn">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}