{% extends 'layout.html' %}

{% block main %}
<nav class="breadcrumb">
    <div class="pt-4 px-4">
        <div class="md:max-w-3xl mx-auto">
            <ul>
                <li><a href="{{ url_for('views.home' )}}">Home</a></li>
                <li>Play Time</li>
            </ul>
        </div>
    </div>
</nav>
<section>
    <div class="section-container">
        <div class="section-wrapper">
            <h2 class="text-center">Play Time</h2>
            <div class="border border-slate-800 mt-2">
                <table>
                    <thead class="border-b-2 border-slate-700">
                        <tr>
                            <th class="p-2 text-left">No.</th>
                            <th class="p-2 text-left">Game</th>
                            <th class="p-2 text-right">Hours Played</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for game in games %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                <img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{ game['appid'] }}/{{ game['img_icon_url'] }}.jpg"
                                    alt="{{ game['name'] }} Icon" class="inline">
                                <a href="{{ url_for('views.game', appid=game.appid) }}" class="text-white hover:text-white">
                                    {{ game['name'] }}
                                </a>
                            </td>
                            <td class="text-right">{{ '%.1f'|format(game['playtime_forever']/60) }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td><strong>Total Hours</strong></td>
                            <td class="text-right"><strong>{{ '%.1f'|format(total_playtime/60) }}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}