{% extends 'layout.html' %}

{% block main %}

<section>
    <div class="py-12 px-4">
        <div class="content border shadow">
            <h2 class="text-center">Register</h2>
            <form action="{{ url_for('auth.register' )}}" method="post">
                <div class="flex flex-col">
                    <label for="steamid">Steam ID</label>
                    <input type="text" name="steamid" id="steamid" class="text-input" placeholder="e.g. 76561197960435530 (Robin Walker's ID)" required>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="text-input" required>
                    <label for="confirm">Confirm Password</label>
                    <input type="password" name="confirm" id="confirm" class="text-input" required>
                    <div class="text-right mt-2">
                        <a href="{{ url_for('auth.login') }}">Have an account? Log in</a>
                    </div>
                    <div class="text-center mt-6">
                        <button type="submit" class="btn">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}