{% extends 'layout.html' %}

{% block heading %}
    <h1>Register</h1>
{% endblock %}

{% block main %}

<form action="{{ url_for('auth.register' )}}" method="post">
    <div>
        <label for="steamid">Steam ID</label>
        <input type="text" name="steamid" id="steamid" placeholder="e.g. 76561197960435530 (Robin Walker's ID)">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <label for="confirm">Confirm Password</label>
        <input type="password" name="confirm" id="confirm">
        <button type="submit">Register</button>
    </div>
</form>

<a href="{{ url_for('auth.login') }}">Have an account? Log in</a>
{% endblock %}